.main_div {
	position: relative;
	margin-top: 60px;
}
.add_product {
	height: 47px;
	outline: 1px solid #DCDCDC;
	background-color: #F5F5F5;
	padding-top: 5px;
	padding-left: 5px; 
}
#submit {
	margin-left: 840px;
}

#nav-tab {
	margin-top: 0px;
	margin-bottom: 20px;
}

.buttons a {
  font-size: 16px;
  color: #A8A8A8;
}
.buttons a:hover {
  cursor:pointer; 
  color: #A8A8A8;
}

#data, #links, #price, #image, #features, #options, #maximum_day_needs_to_arrive_td, #category_tbody {
	display: none;
}

tr > td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.td-left {
	min-width: 150px;
  	max-width: 150px;
  	overflow: hidden;
	padding-right: 5px;
	text-align: right;
}
.td-right {
	min-width: 700px;
  	max-width: 700px;
 	overflow: hidden;
	padding-left: 5px;
	text-align: left;
}

tr.border_bottom td {
  width: 1100px;
  border-bottom: 1px solid #DCDCDC;
}

input[type=text], input[type=number], select {
	width: 98%;
	height: 35px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	font-family: FontAwesome, "Open Sans", 
}
input[type="text"]:focus, input[type="number"]:focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.star {
	color: red;
}

#maximum_day_needs_to_arrive {
	width: 630px;
}

.form__icon {
  position: fixed;
  pointer-events: none;
  z-index: 2;
  margin-left: 5px;
  margin-top: 12px;
}
.form__input {
  position: relative;
  z-index: 3;
}
.form__input:placeholder-shown {
  z-index: 1;
}