/* 
ck decouple editor
div toolbar-container
#toolbar-container {
    width: 98%;
}
div editor
#editor {
    outline: 1px solid #DCDCDC;
    height: 250px;
    width: 98%;
}
*/ 

/* ck classic editor toolbar width */ 
.ck-editor__top { width: 98% !important; }
/* ck classic editor heigth and width */ 
.ck-editor__editable {
	min-height: 200px;
	width: 98%;
}

.ck-editor__focus #editor {
  outline: none !important;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}