#color_div {
  display: none;
}

.tbody-color > tr > td > .disabled-text {
	border: 0;
	color: black;
	background-color: inherit;
}
.tbody-color > tr > td > .price-select {
	width: 30%;
}
.tbody-color > tr > td > .price {
	width: 70%;
} 

table.color {table-layout:fixed; width:100%;}/*Setting the table width is important!*/
table.color th {overflow:hidden;} /*Hide text outside the cell.*/
table.color th:nth-of-type(1) {width:17%;}/*Setting the width of heading 1.*/
table.color th:nth-of-type(2) {width:15%;}/*Setting the width of heading 2.*/
table.color th:nth-of-type(3) {width:10%;}/*Setting the width of heading 3.*/
table.color th:nth-of-type(4) {width:15%;}/*Setting the width of heading 4.*/
table.color th:nth-of-type(5) {width:38%;}/*Setting the width of heading 5.*/
table.color th:nth-of-type(6) {width:5%;align-content: center;}/*Setting the width of heading 6.*/

table.color td {overflow:hidden;} /*Hide text outside the cell.*/
table.color td:nth-of-type(1) {width:17%;}/*Setting the width of column 1.*/
table.color td:nth-of-type(2) {width:15%;}/*Setting the width of column 2.*/
table.color td:nth-of-type(3) {width:10%;}/*Setting the width of column 3.*/
table.color td:nth-of-type(4) {width:25%;}/*Setting the width of column 4.*/
table.color td:nth-of-type(5) {width:38%;}/*Setting the width of column 5.*/
table.color td:nth-of-type(6) {width:5%; align-content: center;}/*Setting the width of column 6.*/

.color > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #C8C8C8;
}