.nested-option {
	position: relative;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
	margin-bottom: 15px;
	padding: 5px;
}

.single-option {
	outline: 1px solid #DCDCDC;
	margin: 5px;
	padding: 5px;
}

.make-combination {
	position: relative;
	margin: 5px !important;
}

.combination-table-div {
	position: relative;
	margin: 5px !important;
	overflow-x: auto;
}
.combination-table-div {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.combination-table-div::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.make-combination:hover > i::before {
  	display: inline-block;
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 1s linear 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.combination-table > tbody > tr > td > .price-select {
	width: 30%;
} 
.combination-table > tbody > tr > td > .price {
	width: 70%;
}


#nested-group-count {
	width: 230px;
}

table.nested-option-table tr:hover {
    -webkit-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    -moz-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    cursor: pointer;
}

table.nested-option-table {table-layout:fixed; width:100%; border:1px solid #DCDCDC;}/*Setting the table width is important!*/
table.nested-option-table th {overflow:hidden;} /*Hide text outside the cell.*/
table.nested-option-table th:nth-of-type(1) {width:3%;}/*Setting the width of heading 1.*/
table.nested-option-table th:nth-of-type(2) {width:52%;}/*Setting the width of heading 2.*/
table.nested-option-table th:nth-of-type(3) {width:40%;}/*Setting the width of heading 3.*/
table.nested-option-table th:nth-of-type(4) {width:5%;}/*Setting the width of heading 4.*/

table.nested-option-table td {overflow:hidden;} /*Hide text outside the cell.*/
table.nested-option-table td:nth-of-type(1) {width:3%;}/*Setting the width of column 1.*/
table.nested-option-table td:nth-of-type(2) {width:52%;}/*Setting the width of column 2.*/
table.nested-option-table td:nth-of-type(3) {width:40%;}/*Setting the width of column 3.*/
table.nested-option-table td:nth-of-type(4) {width:5%;}/*Setting the width of column 4.*/

.nested-option-table > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #C8C8C8;
}

table.combination-table tr:hover {
    -webkit-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    -moz-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    cursor: pointer;
}

table.combination-table {table-layout:fixed; width:100%; border:1px solid #DCDCDC;}/*Setting the table width is important!*/
table.combination-table th {overflow:hidden;} /*Hide text outside the cell.*/
table.combination-table th:nth-of-type(1) {width:60%;}/*Setting the width of heading 1.*/
table.combination-table th:nth-of-type(2) {width:15%;}/*Setting the width of heading 2.*/
table.combination-table th:nth-of-type(3) {width:10%;}/*Setting the width of heading 3.*/
table.combination-table th:nth-of-type(4) {width:15%;}/*Setting the width of heading 4.*/

table.combination-table td {overflow:hidden;} /*Hide text outside the cell.*/
table.combination-table td:nth-of-type(1) {width:60%;}/*Setting the width of column 1.*/
table.combination-table td:nth-of-type(2) {width:15%;}/*Setting the width of column 2.*/
table.combination-table td:nth-of-type(3) {width:10%;}/*Setting the width of column 3.*/
table.combination-table td:nth-of-type(4) {width:15%;}/*Setting the width of column 4.*/


/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width : 479px) {
   	table.nested-option-table { min-width: 600px; }
   	table.nested-option-table th:nth-of-type(1) {width:5%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:5%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:8%;}/*Setting the width of column 4.*/

	table.combination-table { min-width: 600px; }
	table.combination-table th:nth-of-type(1) {width:40%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:25%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:40%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:25%;}/*Setting the width of column 4.*/
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 594px) {
    table.nested-option-table { min-width: 600px; }
   	table.nested-option-table th:nth-of-type(1) {width:5%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:5%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:8%;}/*Setting the width of column 4.*/

	table.combination-table { min-width: 600px; }
	table.combination-table th:nth-of-type(1) {width:40%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:25%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:40%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:25%;}/*Setting the width of column 4.*/
}

/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width : 689px) {
	table.nested-option-table th:nth-of-type(1) {width:6%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:10%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:6%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:10%;}/*Setting the width of column 4.*/

	table.combination-table th:nth-of-type(1) {width:37%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:28%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:37%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:28%;}/*Setting the width of column 4.*/
}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width : 799px) {
	table.nested-option-table th:nth-of-type(1) {width:5%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:5%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:8%;}/*Setting the width of column 4.*/

	table.combination-table th:nth-of-type(1) {width:40%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:25%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:40%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:25%;}/*Setting the width of column 4.*/
}

/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width : 1023px) {
	table.nested-option-table th:nth-of-type(1) {width:5%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:5%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:8%;}/*Setting the width of column 4.*/

	table.combination-table th:nth-of-type(1) {width:45%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:20%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:40%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:20%;}/*Setting the width of column 4.*/
}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1223px) {
	table.nested-option-table th:nth-of-type(1) {width:5%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:30%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:5%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:30%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:8%;}/*Setting the width of column 4.*/

	table.combination-table th:nth-of-type(1) {width:45%;}/*Setting the width of heading 1.*/
	table.combination-table th:nth-of-type(2) {width:20%;}/*Setting the width of heading 2.*/
	table.combination-table th:nth-of-type(3) {width:15%;}/*Setting the width of heading 3.*/
	table.combination-table th:nth-of-type(4) {width:20%;}/*Setting the width of heading 4.*/

	table.combination-table td:nth-of-type(1) {width:45%;}/*Setting the width of column 1.*/
	table.combination-table td:nth-of-type(2) {width:20%;}/*Setting the width of column 2.*/
	table.combination-table td:nth-of-type(3) {width:15%;}/*Setting the width of column 3.*/
	table.combination-table td:nth-of-type(4) {width:20%;}/*Setting the width of column 4.*/
}

/*--- LAPTOP/ PC/ WIDER SCREEN --- */
@media only screen and (min-width : 1224px) {
   table.nested-option-table th:nth-of-type(1) {width:6%;}/*Setting the width of heading 1.*/
	table.nested-option-table th:nth-of-type(2) {width:31%;}/*Setting the width of heading 2.*/
	table.nested-option-table th:nth-of-type(3) {width:57%;}/*Setting the width of heading 3.*/
	table.nested-option-table th:nth-of-type(4) {width:8%;}/*Setting the width of heading 4.*/

	table.nested-option-table td:nth-of-type(1) {width:6%;}/*Setting the width of column 1.*/
	table.nested-option-table td:nth-of-type(2) {width:31%;}/*Setting the width of column 2.*/
	table.nested-option-table td:nth-of-type(3) {width:57%;}/*Setting the width of column 3.*/
	table.nested-option-table td:nth-of-type(4) {width:6%;}/*Setting the width of column 4.*/
}