#seo {
	overflow: auto;
	margin: 0 10px;
}
#seo {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
#seo::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.input-group-addon {
	width: 20px;
	height: 35px;
	background-color: #DCDCDC;
	text-align: center;
}
.input-group-addon img{
	max-width: 10px;
	height: 15px;
	margin: 0;
	position: absolute;
    top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

table.seo tr:hover {
    -webkit-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    -moz-box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    box-shadow: 0px 0px 12px 5px rgba(233,233,233,1);
    cursor: pointer;
}

table.seo {table-layout:fixed; width:100%; border:1px solid #DCDCDC;}/*Setting the table width is important!*/
table.seo th {overflow:hidden;} /*Hide text outside the cell.*/
table.seo th:nth-of-type(1) {width:20%;}/*Setting the width of heading 1.*/
table.seo th:nth-of-type(2) {width:80%;}/*Setting the width of heading 2.*/

table.seo td {overflow:hidden;} /*Hide text outside the cell.*/
table.seo td:nth-of-type(1) {width:20%;}/*Setting the width of column 1.*/
table.seo td:nth-of-type(2) {width:80%;}/*Setting the width of column 2.*/

/*--- Mobile portrait ---*/
@media only screen and (max-width : 710px) {
	table.seo { min-width: 600px;}
   	table.seo th:nth-of-type(1) {width:20%;}/*Setting the width of heading 1.*/
	table.seo th:nth-of-type(2) {width:80%;}/*Setting the width of heading 2.*/

	table.seo td:nth-of-type(1) {width:20%;}/*Setting the width of column 1.*/
	table.seo td:nth-of-type(2) {width:80%;}/*Setting the width of column 2.*/
}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 711px) and (max-width : 1223px) {
   	table.seo th:nth-of-type(1) {width:20%;}/*Setting the width of heading 1.*/
	table.seo th:nth-of-type(2) {width:80%;}/*Setting the width of heading 2.*/

	table.seo td:nth-of-type(1) {width:20%;}/*Setting the width of column 1.*/
	table.seo td:nth-of-type(2) {width:80%;}/*Setting the width of column 2.*/
}