/* Top Nav */
.navbar {
  position: fixed;
  padding: 0px;
  height: 52px;
  z-index: 1000;
}

#home-link-img {
  width: 460px;
  height: 25px;
}

.home-link-img-div {
  margin-left: 10px;
  width: 250px;
  border-right: 1px solid #DCDCDC;
}

button#sidenav-button {
  padding: 5px;
  border-right: 1px solid #DCDCDC;
}
button#sidenav-button > a > i {
  color: black;
}

.btn-group-div {
  border-left: 1px solid #DCDCDC;
}

.btn-light {
  background-color: white;
  border: none;
}

.btn-light> a{
  color: black;
  text-decoration: none;
}

#home-link-img {
  height: 40px;
  width: 120px;
}



.container {
  position: relative;
  text-align: center;
  color: white;
}
 

.container:hover {
  outline-style: solid;
  outline-color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: red;
}

.text-center {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   margin-left: 140px;
}

.text-center> hr{
  width: 70%;
}

.btn-group-div > .dropdown-menu {
  position: absolute;
}

.btn-group-div > .dropdown-menu > .dropdown-item{
  padding: 5px;
}

/**/
/*--- Mobile portrait ---*/
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .home-link-img-div {
      display: none;
    }

    .nav-item > .btn-group {
      margin: 0 auto;
      text-align: right;
      /*margin-left: 120px;*/
    }
    .logout-text {
      display: none;
    }
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 594px) {
    .home-link-img-div {
      display: none;
    }

    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 250px;*/
    }
    .logout-text {
      display: none;
    }
}
/*--- Small tablet portrait ---*/
@media only screen and (min-width : 595px) and (max-width : 689px) {
    .home-link-img-div {
      display: none;
    }

    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 250px;*/
    }
    .logout-text {
      display: none;
    }
}
/*--- Tablet portrait ---*/
@media only screen and (min-width : 690px) and (max-width : 799px) {
    .home-link-img-div {
      display: none;
    }

    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 330px;*/
    }
    .logout-text {
      display: none;
    }
}
/*--- Small tablet landscape ---*/
@media only screen and (min-width : 800px) and (max-width : 1023px) {
    .home-link-img-div {
      display: none;
    }
    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 330px;*/
    }
    .logout-text {
      display: none;
    }
}
/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1223px) {
    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 870px;*/
    }
}
/*--- LAPTOP/ PC/ WIDER SCREEN --- */
@media only screen and (min-width : 1224px) {
    .nav-item > .btn-group {
      position: absolute;
      top: 5px;
      right: 0;
      /*margin-left: 870px;*/
    }
}